.collectionHeading {
    height: 340px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .content {
        position: absolute;
        left: 32px;
        bottom: 24px;

        img {
            border: 2px solid #ffffff14;
            border-radius: 16px;
            height: 80px;
            width: 80px;
            margin-bottom: 10px;
            object-fit: cover;
            object-position: center;
        }

        h2 {
            text-transform: capitalize;
            font-size: 20px;
            line-height: 28px;
            color: white;
        }

    }
}