.blog-card {
    border-radius: 7px;
    padding: 18px;
    background-color: var(--bg-color-element);

    &:hover img {
        scale: 1.1;
    }

    .img {
        border-radius: 5px;
        overflow: hidden;
        height: 170px;

        img {
            transition: all 400ms;
            object-fit: cover;
            border-radius: 5px;
            height: 100%;
            width: 100%;
            object-position: center;


        }
    }

    .content {
        padding-top: 18px;

        .name-time {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                text-transform: uppercase;
                color: #00a3ff;
                font-size: 12px;
                line-height: 20px;
            }

            .time {
                i {
                    font-size: 12px;
                    line-height: 20px;
                    color: var(--text-color);
                    margin-right: 5px;
                }

                span {
                    font-size: 12px;
                    color: var(--text-color);
                    line-height: 20px;
                }
            }
        }

        h4 {
            font-size: 23px;
            line-height: 34px;
            color: var(--heading-color);
            transition: all 400ms;
            position: relative;
            display: inline;
            padding-right: 30px;

            &:hover i {
                display: block;
                transition: all 400ms;
                font-size: 23px;
                color: #00a3ff;
                cursor: pointer;
                user-select: none;
            }

            i {
                position: absolute;
                transition: all 400ms;
                right: 0;
                bottom: 0;
                display: none;
            }
        }
    }
}