:root {
  --bg-color: #13131d;
  --heading-color: white;
  --heading-span-color: #14141f;
  --text-color: #acacac;
  --text-heading: #fff;
  --border-color: #ffffff14;
  --bg-color-element: #24243557;
  --bg-color-element2: #242435;
  --bg-color-element3: #242435;
  --blured-bg: #ffffff0d;
  --link-color: #ffffff;
  --red-text: #ea4747;
  --scrollbar-color: #5d5d7e;
  --nav-bg: #1515218c;
}
.light {
  --bg-color: #f5f8fa;
  --heading-color: #181c32;
  --heading-span-color: #fff;
  --text-color: #65676b;
  --text-heading: #65676b;
  --border-color: #00000024;
  --blured-bg: #fff;
  --bg-color-element: #fff;
  --bg-color-element2: transparent;
  --bg-color-element3: #f5f8fa;
  --link-color: #1d1d1d;
  --red-text: #dc3545;
  --scrollbar-color: #77777b;
  --nav-bg: #f5f8fa;
}
body {
  background-color: var(--bg-color);
}
