footer {
    background-color: var(--bg-color-element);

    .container {
        display: flex;
        flex-direction: column;

        .content {
            .container-content {
                padding: 100px 0 200px;
                max-width: 1408px;
                margin: 0 auto;
            }
        }

        .footer {
            border-top: 1px solid var(--border-color);

            .container-footer {
                padding: 20px 0;
                display: flex;
                justify-content: space-between;
                max-width: 1408px;
                margin: 0 auto;

                .text {
                    display: flex;
                }

                .media {
                    display: flex;
                    gap: 15px;

                    a {
                        i {}
                    }
                }
            }
        }
    }
}