#homeHeader {
    background-color: var(--bg-color);

    .container {
        max-width: 1408px;
        display: flex;
        margin: 0 auto;
        padding: 100px 0;
        align-items: center;
        gap: 50px;

        .text {
            display: flex;
            flex-direction: column;
            gap: 30px;
            h1 {
                font-size: 60px;
                line-height: 80px;
                color: var(--heading-color);

                span {
                    color: var(--heading-span-color);
                    background: #00a3ff;
                    background-size: 100% 100%;
                    -webkit-background-clip: text;
                    -webkit-text-stroke: 3px transparent;
                }
            }

            p {
                color: var(--text-color);
                font-size: 18px;
                line-height: 1.6;
                width: 80%;
            }

            .btns {
                button {
                    min-width: 160px;
                    min-height: 54px;
                    border-radius: 10px;
                    transition: .3s;
                    font-size: 16px;
                    letter-spacing: 0.5;
                    border: none;
                    color: white;
                }

                .btn-start {
                    background-color: #00a3ff;
                    margin-right: 15px;

                    &:hover {
                        background-color: #212e48;
                    }
                }

                .btn-create {
                    background-color: #212e48;

                    &:hover {
                        background-color: #00a3ff;
                    }
                }
            }
        }

        .content {
            padding-right: 20px;
            position: relative;

            .images {
                position: relative;
                perspective: 1000px;

                img {
                    width: 100%;
                    display: block;
                    transition: transform 0.5s ease;

                    .images img:hover {
                        transform: scale(1.1);
                    }

                }
            }

            .jumping-text {
                position: absolute;
                bottom: -50px;
                left: 70px;
                padding: 20px;
                border-radius: 10px;
                max-width: 300px;
                height: max-content;
                background: 0 0;
                border: 1px solid var(--border-color);
                backdrop-filter: blur(12px);
                --webkit-backdrop-filter: blur(12px);
                background-color: var(--blured-bg);
                animation: jump 5s infinite;

                .users {
                    display: flex;
                    align-items: center;

                    .users-photo {
                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            border: 2px solid var(--border-color);
                            transition: all 300ms;
                        }
                    }

                    span {
                        color: var(--text-heading);
                        font-size: 14px;
                        line-height: 1.5;
                        font-weight: 500;
                    }

                }

                p {
                    line-height: 1.6;
                    font-size: 16px;
                    color: var(--text-color);
                }
            }
        }
    }
}

@keyframes jump {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    50% {
        -webkit-transform: translate3d(0, 30px, 0);
        transform: translate3d(0, 30px, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

// @media screen and (min-width:320px) and (max-width:990px) {
//     #homeHeader {
//         .container {
//             justify-content: center;
            
            
//             flex-wrap: wrap-reverse;
//             gap: 100px;
//         }
//     }
// }