#privacyPolicy {
    padding: 100px 0 70px;

    .container {
        max-width: 1408px;
        padding: 0 110px;
        margin: 0 auto;

        h1 {
            font-size: 36px;
            line-height: 45px;
            color: var(--heading-color);
            margin-bottom: 20px;
        }

        h2 {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 20px;
            color: var(--heading-color);
        }

        p {
            font-size: 18px;
            line-height: 1.6;
            color: var(--text-color);
            margin-bottom: 30px;

            span {
                font-weight: 500;
                margin-right: 5px;
            }
        }
    }
}
@media screen and (max-width:600px) {
    #privacyPolicy {
        padding: 100px 0 70px;
    
        .container {
            max-width: 1408px;
            padding: 0 50px;
            margin: 0 auto;
    
            h1 {
                font-size: 28px;
                line-height: 35px;
                color: var(--heading-color);
                margin-bottom: 20px;
            }
    
            h2 {
                font-size: 22px;
                line-height: 26px;
                margin-bottom: 20px;
                color: var(--heading-color);
            }
    
            p {
                font-size: 16px;
                line-height: 1.4;
                color: var(--text-color);
                margin-bottom: 30px;
    
                span {
                    font-weight: 500;
                    margin-right: 5px;
                }
            }
        }
    }
}